#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(0, 110, 50);
    left: -200px;
    transition: all 0.3s linear;
    z-index: 1;
}

#sidebar.active {
    left: 0px;
}
/*added*/
#sidebar .side-ul{
    margin:0;
}
#sidebar .side-li{
    margin-left: -40px;
}
#sidebar .side-ul .side-li {
    color: whitesmoke;
    list-style: none;
    padding: 15px 10px;
    border-bottom: solid 1px #BEC9BB; 
}
/*^^^^^^^^^*/
.side{
    color:whitesmoke;
    text-decoration: none;
}

#sidebar .toggle-btn{
    cursor: pointer;
    position: absolute;
    left: 230px;
    top: 20px;
    background-color: whitesmoke;
    padding: 1px 4px;
    border-radius: 5px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgb(0, 134, 60);
    margin: 3px 0px;
}

.side-li:hover{
    background-color: rgb(0, 77, 34);
}