/*start copy*/
body{
    background-color: white;
    margin: 0;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#imgcontainer{
    background-image: url('lionessbylake.png');
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: sticky;    

    top: 0;
    left: 0;
    right: 0;
}
#container{
    position: relative;
    background-color: white;
    width:100%; 
    text-align: center;
}
/*end copy*/
#container h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    position: static;
    font-size: 45px;
}
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    width: 50%;
    margin-left: 25%;
}
.column{
    flex: 50%;
    padding: 10px;
}
.outline-container{
    width:50%;
    margin-left: 25%;
    margin-bottom: 5%;
}
.outline{
    border: 1px #FF6F54 solid;
    text-align: center;
    width: 250px;
    margin-left: 33%;
}