body{
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.full-page{
    height: 100vh;
}
div{
    display: block;
}
.img-container{
    background-image: url("bird.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 68%;
    position: absolute;
}
.container{
    background-color: rgb(221, 236, 255);
    background-color: transparent;
    text-align: left;
    height: 100vh;
    width: 32%;
    float: right;
    position: relative;
}
.signin{
    margin-top: 10%;
}
form{
    margin-top: 10%
}
h1{
    font-size: 45px;
    margin-left: 10%;
    color: darkslategray;

}
label{
    font-size: 20px;
    font-weight: bold;
    color: darkslategray;
    margin-left: 10%;
}

input{
    background-color: transparent;
    margin: 10px 0 20px 10%;
    border: none;
    border-bottom: 2px solid rgb(230, 230, 230);
    padding: 3px 0 1px 2px;
    transition-duration: 0.3s;
    outline: none;
    font-size: 20px;
}

input:active, input:focus{
    opacity: 1;
    transition-duration: 0.5s;
    border-bottom: 2px solid #003b6f;
}
button.submit {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0px;
    font-weight: bold;
    background-color: #4dacff;
    color: white;
    padding: 8px 21%;/*16*/
    margin: 4% 38% 0 10%;
    /*margin-top: 4%;*/
    border: 2px solid #4dacff;
    cursor: pointer;
    transition-duration: 0.1s;
    float: center;
    white-space: nowrap;
  }
button.submit:hover{
    background-color: white;
    color: darkslategray;
    border: 2px solid #4dacff;
}
button.return{
    font-weight: bold;
    margin: 0 0 5% 10%;
    padding: 8px 20%;
    cursor: pointer;
    background-color: #31ac00;
    border: 2px solid #31ac00;
    color: white;
    transition-duration: 0.1s;

    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0px;
    font-weight: bold;
    background-color: #4dacff;
    color: white;
    padding: 8px 21%;
    margin: 10% 38% 0 10%;
    border: 2px solid #4dacff;
    cursor: pointer;
    transition-duration: 0.1s;
    float: center;
    white-space: nowrap;
    position: relative;*/
}
a{
    padding-top: 10px;
    text-decoration: none;
    margin-left: 10%;
    color: black;
}
.underline{
    position:relative;
    text-decoration:none;
    display:inline-block;
}
.underline:after {
    display:block;
    content: '';
    border-bottom: 2px solid #003b6f;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin:100% 50%
}
.underline:hover:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
}
